.choresItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.choresItem + .choresItem {
  margin-top: 0.75rem;
}

.labelItem {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  background: var(--gray-500);
  padding: 1rem;
  width: 50rem;
  border: 0;
  border-radius: 8px;
}

.labelItem button {
  background: transparent;
  border: 0;
  color: var(--gray-300);
  cursor: pointer;
  line-height: 1.2;
  border-radius: 2px;
}

.labelItem button:hover {
  color: var(--red-400);
}

.completedChore {
  text-decoration: line-through;
  width: 100%;
}

.completed {
  width: 100%;
}

input[type='checkbox'] {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
  transform: scale(1.2);
  accent-color: var(--orange-600);
}
