.choresSummary {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--gray-500);
  max-width: 70rem;
  margin: 2rem auto;
}

.createdChores {
  color: var(--red-600);
  font-weight: bold;
}

.completedChores {
  color: var(--orange-600);
  font-weight: bold;
}
